<a href="https://colab.research.google.com/github/PavankumarUppar/Pandas/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str1 = "a b c"
str2 = "A B C"
str3 = str2.join(str1)
print(str3)

aA B C A B CbA B C A B Cc

In [ ]:
"a" in str1

True

In [ ]:
Days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday","Sunday"}
print(Days)
print(type(Days))
print("looping through the set elements ... ")
i=0
for i in Days:
  print(i)

{'Friday', 'Monday', 'Wednesday', 'Sunday', 'Saturday', 'Thursday', 'Tuesday'}
<class 'set'>
looping through the set elements ...
Friday
Monday
Wednesday
Sunday
Saturday
Thursday
Tuesday

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
def factorial(n):
  if(n==1):
    return 1
  else:
    return n*factorial(n-1)
num = 5
factorial(num)

120

In [ ]:
#3rd
fname = open('/content/text.txt','r')
file = fname.read()
ans = []
words = file.split()
for word in words:
    if word not in ans:
        ans.append(word)

ans.sort()
print(ans)

['planets', 'sattelite', 'stars']

In [ ]:
#5th
def sortl(lst):
  lst.sort(key=len)
  return lst

lst = ['planets','star','stars']
print(sortl(lst))

['star', 'stars', 'planets']

In [ ]:
#6th
def leng(lst,n):
  lst.sort(key=len)
  return lst[n]

lst = ['planets','star','stars']
print(leng(lst,2))

planets

In [ ]:
#10th 
n = int(input("Enter the number: "))
a = []
while (n>0):
  d = n%2 
  a.append(d)
  n = n//2

a.reverse()
for i in a:
  print(" ",i)

Enter the number: 7
  1
  1
  1

In [ ]:
#11.th
fname = open('/content/text.txt','r')
for i in fname:
  output = i.title()
  print(output)

Stars Planets Sattelite

In [ ]:
#12
st = input("Enter a string: ")
dic = {}
for i in st:
  dic[i] = st.count(i)

print(dic)

Enter a string: BMSCE
{'B': 1, 'M': 1, 'S': 1, 'C': 1, 'E': 1}